<div>
  <h1>Enter new ninja details</h1>
  <form action="/admin" method="POST">
    <div>
      <input type="text" class="search-box__longField" name="name" placeholder="Enter name...">
      <input type="text" class="search-box__latField" name="rank" placeholder="Enter rank...">
      <input type="text" class="search-box__longField" name="available" placeholder="Enter availability...">
      <input type="number" class="search-box__latField" name="lng" placeholder="Enter your long...">
      <input type="number" class="search-box__latField" name="lat" placeholder="Enter your latitude...">
    </div>
    <input type="submit" class="search-box__submitButton" value="Save details">
    <input type="submit" class="search-box__submitButton" value="Amend details">
    <input type="submit" class="search-box__submitButton" value="Delete ninja">
  </form>
</div>