<h1 class="ninjasNear-title">Ninja succesfully deleted!</h1>
<div class="ninjasNear-container">
  <li class="ninjasNear-list">
    <span class="ninjasNear-list__name">Name : {{this.name}}</span>
    <span class="ninjasNear-list__rank">Rank : {{this.rank}}</span>
    <span class="ninjasNear-list__longitude">Longitude : {{this.lng}}</span>
    <span class="ninjasNear-list__latitude">Latitude : {{this.lat}}</span>
  </li>
</div>
<a href="/admin" class="links">Back Admin</a>
<a href="/list" class="links">Back List</a>
<a href="/" class="links">Back Home</a>