<h1 class="ninjasNear-title">Our partners ninjas</h1>
{{#each ninjas}}
<div id="ninjasNear" class="ninjasNear-container">
  <li class="ninjasNear-list">
    <span class="ninjasNear-list__name">Name : {{this.name}}</span>
    <span class="ninjasNear-list__rank">Rank : {{this.rank}}</span>
    <div class="ninjasNear-list__availability">
      <span {{#if this.available}} class="ninjasNear-list__available">Available
        {{else}} <span class="ninjasNear-list__unavailable" {{this.available}}>Not Available</span>
        {{/if}}</span>
    </div>
  </li>
</div>
{{/each}}
{{/inline}}